<h1 style="font-size: xx-large; font-weight: 600; margin-left: 10px; margin-top:10px">Appointments</h1>

<button class="btn btn-primary" style="margin-left: 20px;"routerLink="/adminhomepage">Home</button>


<button class="btn btn-primary" style="margin-left: 20px;"routerLink="/addappointment">Add Appointment</button>

<br>
<br>

<div class="container">
  <div class="row">

    @if (appointments.length === 0)
    {
      <h3 class="m-2">No Data To Show</h3>
    }

    @for (appointment of appointments; track $index)
    {
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">{{"Appointment ID : "+ appointment.appoinmentId }}</h2>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td><b>Patient ID:</b></td>
                  <td>{{ appointment.patientId }}</td>
                </tr>
                <tr>
                  <td><b>Date:</b></td>
                  <td>{{ appointment.date | date: 'yyyy-MM-dd' }}</td>
                </tr>
                <tr>
                  <td><b>Time Slot:</b></td>
                  <td>{{ appointment.timeSlot }}</td>
                </tr>
                <tr>
                  <td><b>Doctor ID:</b></td>
                  <td>{{ appointment.doctorId }}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-danger" (click)="onAppointmentDelete(appointment)">Delete</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
 
