<div class="form-group" style="margin-left: 20px; display: flex; align-items: center;">
  <label for="doctorid" style="margin-right: 10px;">Search by doctor ID:</label>
  <input type="text" class="form-control" id="doctorid" [formControl]="searchInput" style="width: 25%;">

  <label for="namesearch" style="margin-left: 20px; margin-right: 10px;">Search by Patient Name:</label>
  <input type="text" class="form-control" id="namesearch" [formControl]="nameInput" style="width: 25%;">
</div>

@if (data.length == 0) {
<h3 class="m-2">No Data To Show</h3>
}

@else {
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      @for (col of columns; track $index)
      {
        <th>{{ col }}</th>
      }
      <th><button class="btn btn-primary" (click)="ToggleDelete()">Enable Delete</button></th>
      <th><button class="btn btn-primary" (click)="ToggleEdit()">Enable Edit</button></th>
    </tr>
  </thead>
  <tbody>
    @for (doctor of data; track $index)
    {
      <tr>
        <td>{{ doctor.doctorID }}</td>
        <td>{{ doctor.firstName }}</td>
        <td>{{ doctor.lastName }}</td>
        <td>{{ doctor.speciality }}</td>
        <td>{{ doctor.email }}</td>
        <td>{{ doctor.salary}}</td>

        <td>

        @if (CanDelete)
        {
            <button class="btn btn-danger" (click)="deleteRow(doctor)">Delete</button>
        }
      </td>

      <td>

        @if (CanEdit)
        {
            <button class="btn btn-warning" (click)="navigateToEdit(doctor.doctorID)">Edit</button>
        }
      </td>

      </tr>
    }
  </tbody>
</table>
}
