


<h2>Add Appointment</h2>
<div class="container">
  <div class="form-group">
    <br>
    <label>Appointment Date</label>
    <input type="date" class="form-control" [(ngModel)]="appointment.date">
    <br>
    <div class="row">
      <div class="col-md-4">
        <label>Patient ID</label>
        <select class="form-control" [(ngModel)]="appointment.patientId">
          @for (pid of this.patients; track $index) {
            <option value="{{pid.patientID}}">{{pid.patientID}}</option>
          }
        </select>
      </div>
      <div class="col-md-4">
        <label>Time Slot</label>
        <select class="form-control" [(ngModel)]="appointment.timeSlot">
          @for (ts of timeslots; track $index) {
            <option value="{{ts}}">{{ts}}</option>
          }
        </select>
      </div>
      <div class="col-md-4">
        <label>Doctor</label>
        <select class="form-control" [(ngModel)]="appointment.doctorId">
          @for (did of this.doctors; track $index) {
            <option value="{{did.doctorID}}">{{did.firstName+" "+did.lastName}}</option>
          }
        </select>
      </div>
    </div>
    <br>
    <div class="btn-group-lg">
      <button class="btn btn-warning" style="font-weight: 600;" (click)="clear()">Clear All</button>
      <button class="btn btn-success" style="font-weight: 600;" (click)="save()">Save</button>
    </div>
    <br/>
  </div>
</div>
