
<button class="btn btn-primary" style="margin-left: 120px; margin-top: 25px;" routerLink="/patienthomepage">Home</button>
<br><br><br>

<h1 style="font-size: xx-large; font-weight: 600; margin-left: 120px;">My Appointments</h1>

<br>
<br>

<div class="container">
  <div class="row">

    @if (appointments.length === 0)
    {
      <h3 class="m-2">No Appointments</h3>
    }

    @for (appointment of appointments; track $index)
    {
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">{{"Appointment ID : "+ appointment.appoinmentId }}</h2>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td><b>Date:</b></td>
                  <td>{{ appointment.date | date: 'yyyy-MM-dd' }}</td>
                </tr>
                <tr>
                  <td><b>Time Slot:</b></td>
                  <td>{{ appointment.timeSlot }}</td>
                </tr>
                <tr>
                    <td><b>Doctor:</b></td>
                    <td>{{getDoctorName(appointment.doctorId)}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    }
  </div>
</div>
