<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card shadow" style="width: 400px; height: 350px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Login</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Username</label>
          <input type="text" id="email" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control">
        </div>
        <br>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
