<h1 style="font-size: xx-large; font-weight: 600; margin-left: 10px; margin-top:10px">Edit Patient</h1>

<div class="container">
  <div class="form-group">
    <br>
    <label>First Name</label>
    <input type="text" class="form-control" value = {{this.patient.firstName}}>
    <br>
    <label>Last Name</label>
    <input type="text" class="form-control" [(ngModel)]="patient.lastName">
    <br>
    <label>Date of Birth</label>
    <input type="date" class="form-control" [(ngModel)]="patient.dob">
    <br>
    <label>Contact</label>
    <input type="text" class="form-control" [(ngModel)]="patient.contact">
    @if(patient.contact && (!patient.contact.match('^[0-9]+$') || patient.contact.length != 10))
    {
      <div class="text-danger">Invalid Phone Number</div>
    }
    <br>
    <label>Email Address</label>
    <input type="text" class="form-control" id="emailinput" [(ngModel)]="patient.email">
    @if (patient.email && !patient.email.match('[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'))
    {
      <div class="text-danger">Invalid email address</div>
    }
    <br>
    <label>Home Address</label>
    <input type="text" class="form-control" [(ngModel)]="patient.address">
    <br>
    <div class="row">
      <div class="col-md-4">
        <label>Gender</label>
        <select class="form-control" [(ngModel)]="patient.gender">
            @for (gen of gender; track $index) {
              <option value="{{gen}}">{{gen}}</option>
            }
        </select>
      </div>
      <div class="col-md-4">
        <label>Blood Type</label>
        <select class="form-control" [(ngModel)]="patient.bloodType">
            @for (bt of bloodtype; track $index) {
              <option value="{{bt}}">{{bt}}</option>
            }
        </select>
      </div>
      <div class="col-md-4">
        <label>Insurance</label>
        <select class="form-control" [(ngModel)]="patient.insurance">
            @for (ins of insurance; track $index) {
              <option value="{{ins}}">{{ins}}</option>
            }
        </select>
      </div>
    </div>
    <br>
    <label>Emergency Contact</label>
    <input type="text" class="form-control" [(ngModel)]="patient.emergencyContact">
    @if(patient.emergencyContact && (!patient.emergencyContact.match('^[0-9]+$') || patient.emergencyContact.length != 10))
    {
      <div class="text-danger">Invalid Phone Number</div>
    }
  </div>
  <br>
  <div class="btn-group-lg">
    <button class="btn btn-warning" style="font-weight: 600;" (click)="clear()">Clear All</button>
    <button class="btn btn-success" style="font-weight: 600;" (click)="save()">Save</button>
  </div>
  <br/>
</div>
